<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YFButtonListView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E99671991D60C8C200959F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99671B21D60C8C200959F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99671BD1D60C8C200959F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
